.idea
.webpack
.artifacts
.env*
.npmrc
.kiro
.vscode

lerna-debug.log
npm-debug.log
node_modules
.DS_Store
package.tgz
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
lib/
.run/
.files/
.changelog

.history
*.tsbuildinfo
logs.txt
globalConfig.json
.graphqlconfig
schema.graphql
.tmp/
# yarn2 files
.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
lerna.json
.stormTests
./nextjs

.superpowers
/.local
CLAUDE.local.md
.claude/*.local.*
